body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Playfair Display', serif; */
  transition: all 0.5s linear;
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
}

/* background */
.d-flex-row {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.global-warming {
  background: url(./imgs/forest.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

.services {
  background: url(./imgs/forest-tree.jpg) no-repeat center center;
  background-size: cover;
}

.green-div {
  background: #a3c962;
}

.blog {
  background: url(./imgs/colorful-tree.jpg) no-repeat center center;
  background-size: cover;
}

header {
  width: 95%;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid magenta; */
}

.container-compress {
  margin: 0 auto;
  width: 75%;
}

.container-top,
.container-next {
  display: flex;
  justify-content: space-between;
}

.container-top .container-top-body {
  width: 49%;
}
.container-top .container-top-heading {
  width: 49%;
}

.odd-even:nth-child(odd) .container-top .container-top-body,
.odd-even:nth-child(even) .container-top .container-top-body {
  text-align: right;
}
.odd-even:nth-child(odd) .container-top .container-top-heading,
.odd-even:nth-child(even) .container-top .container-top-heading {
  text-align: left;
}
img {
  max-width: 100%;
}

.tile-logo-image {
  width: 100%;
}

/* .container-top {
  padding: 0;
  margin: 0;
} */

.align-center {
  text-align: center;
}
/* 
===================
Typography
===================
 */

h1,
h2,
h3 {
  margin: 5px auto;
  padding: 5px auto;
}

.green-heading,
.div-title,
.normal-heading,
.normal-subheading,
.title {
  /* margin: 10px 0;
  padding: 10px 0; */
  font-family: "Playfair Display", serif;
}

.logo {
  font-size: 1.6rem;
  font-weight: 550;
  margin: 1em;
}

nav ul {
  font-size: 1rem;
  list-style: none;
  display: flex;
  width: 20%;
}

nav li {
  margin: 1em;
}

nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.div-title {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}
.heading {
}

.subheading {
}

.normal-heading {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
}

.small-heading {
  font-size: 1rem;
  font-weight: 400;
}

.green-heading {
  color: #a3c962;
  font-size: 1.3rem;
  font-weight: bold;
}

.body-content {
  font-size: 1rem;
  font-weight: 400;
}

/* 
.normal-heading {
  font-size: 1.4rem;
  font-weight: 700;
} */

/* 
============== 
Layout
==============
*/

header {
  display: flex;
  justify-content: space-between;
}

.container-center {
  text-align: center;
  padding: 6em 0;
}

.btn {
  margin: 3em;
}

.btn a {
  text-decoration: none;
  color: white;
  display: inline;
  border: 1px solid white;
  border-radius: 40px;
  padding: 0.5em 1.2em;
  margin: 0.5em;
}

.btn .white-btn {
  color: #a3c962;
  background: white;
}

.btn .green-btn {
  background: #a3c962;
  color: white;
}

.btn a:hover,
.btn a:focus {
  background: black;
  color: white;
}

/* what we do */

.what-we-do img {
  max-width: 100%;
}

.what-we-do .container-top {
  display: block;
}

.what-we-do .container-next {
  display: flex;
  justify-content: space-between;
}

.what-we-do .container-next-primary {
  width: 60%;
}

.what-we-do .container-next-secondary {
  width: 38%;
}

/* .divide-section {
  display: flex;
  justify-content: space-between;
}

.divide-section .container-next .container-next-secondary {
  width: 65%;
}

.divide-section .container-next .container-next-primary {
  width: 30%;
} */

/* services */

.services .container-top {
  color: white;
}

.services .container-next {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  text-align: center;
  /* flex-flow: row wrap; */
  /* text-align: center; */
  /* padding: 2em 0; */
  /* margin: 3em 0; */
}

.services .tile-logo {
  margin: 1em auto;
  width: 10%;
}

.services .service-tile {
  background: white;
  width: 100%;
  margin: 1em 0;
  padding: 2em 0;
}

.services .tile-logo img {
  box-sizing: border-box;
  /* padding: 5em; */
  /*min-height: 200px;
  padding: ; */
}

/* Gallery */

.gallery .container-next {
  margin: 2em 0;
}
/* 
.container-next .grid-images {
  width: 100%;
}

.grid-images {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-image:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-image:nth-child(8) {
  grid-column: 1/3;
  grid-row: 4 / span 2;
}

.grid-image:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 1/3;
}

.two-col-left {
  grid-row-start: 1;
  grid-row-end: 3;
}

.two-col-right {
  grid-row: 3 / 5;
} */

/* Statistics */

.stats {
  display: flex;
}

.stat {
  margin: 3em;
  border: 1px solid black;
  text-align: center;
}

.stat .stat-logo {
  margin: 2em auto;
  width: 8%;
}

/* Features */
.features .features-tile {
  display: flex;
  justify-content: space-between;
}

.features .container-next-secondary {
  width: 35%;
}

.features .container-next-primary {
  width: 60%;
}

.features-tile {
  box-sizing: border-box;
  margin: 1em 0;
  border-radius: 10px;
  padding: 1em 2.5em;
  box-shadow: 10px 10px 20px rgb(102, 101, 101),
    -10px -10px 20px rgb(119, 118, 118);
}

.features .tile-logo {
  margin: 2em auto;
  width: 8%;
}

.features-tile .features-tile-body {
  width: 70%;
}

.features-tile-image .tile-logo {
  box-sizing: border-box;
  padding: 3.2em;
  border: 2px solid black;
}

/* use this in query */
.features .features-tile:nth-child(2) {
  margin-left: auto;
  width: 95%;
}

/* Plans */

.plans .container-next {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.plans .plan-tile {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0.5em 0;
}

.plans p {
  margin: 2em;
  font-weight: 300;
}

.plans span {
  font-size: 2em;
}

.plans ul {
  list-style: none;
  color: #969696;
  padding: 0;
  font-size: 0.9em;
  /* margin-bottom: 0; */
}

.plans li {
  margin: 0.5em;
}

.plans .btn {
  padding: 0 1em;
  margin-top: 1em;
}

/* Clients=============== */
.clients img {
  border: 1px solid #dee2e6;
  padding: 2px;
  border-radius: 4px;
}

.clients .profile-tile {
  margin: 1em;
}
/* save forest and nature */

.save-forest-and-nature .play-logo {
  margin: 0 auto;
  width: 5%;
}

.save-forest-and-nature img {
  max-width: 100%;
}

/* Volunteer =========================*/

/* .volunteer ul {
  display: flex;
  width: 10%;
} */

.volunteer .social-media a {
  margin: 0 0.2em;
  width: 15%;
}

.volunteer .social-media {
  display: flex;
  justify-content: center;
}
.volunteer-tile {
  text-align: center;
  margin: 1em;
}
.volunteer-tile img {
  max-width: 100%;
}

/* Blog ===========================*/
.blog .container-top {
  color: white;
}

.blog .blog-image {
  width: 100%;
}

.blog .blog-tile {
  box-sizing: border-box;
  background: white;
  width: 100%;
  border: 20px solid white;
}

.blog .container-next {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}

.blog-info {
  display: flex;
  justify-content: space-between;
}

/* Contact */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .container-top {
  width: 100%;
}
.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact .btn {
  margin: 0;
}
.contact .green-btn {
  display: block;
  text-align: center;
  width: 85%;
  margin: 1em auto;
}

.contact img {
  width: 100%;
}
.contact .contact-logo {
  width: 5%;
  margin: 1em auto;
  padding: 1em 0;
}

.contact-info-tile {
  display: flex;
}

.contact-info-detail {
  width: 65%;
}
.contact-logo {
  width: 20%;
}

/* Map */
.map {
  border: 1px solid grey;
  padding: 0.25em;
  margin: 0;
}

.street-map iframe {
  /* display: block; */
  width: 100%;
  /* padding: 0.5rem; */
}

/* Footer */

footer {
  margin: 0;
}
.footer-info {
  text-align: center;
  margin: 0;
  padding: 1em;
}

/* Queries */

@media screen and (max-width: 675px) {
  .container-top,
  .container-next,
  .container-next-primary,
  .container-next-secondary {
    flex-direction: column;
  }

  .what-we-do .container-top,
  .container-next .container-next-primary,
  h2,
  p {
    text-align: center;
    width: 100%;
  }

  .what-we-do .container-next-secondary {
    width: 50%;
    margin: 0 auto;
  }

  .container-top .container-top-heading,
  .container-top-body {
    text-align: center;
    width: 100%;
  }

  .container-top .container-top-body {
    text-align: center;
    width: 100%;
  }

  .div-title {
    text-align: center;
  }
  .features .container-next {
    flex-direction: column;
  }
  .features .container-next-secondary {
    width: 50%;
    margin: 0 auto;
  }

  .clients {
    text-align: center;
  }

  .volunteer .social-media a {
    width: 5%;
  }

  .contact-info-tile {
    text-align: center;
    flex-direction: column;
  }

  .contact-info-detail {
    width: 100%;
  }
  .contact-logo {
    width: 100%;
  }

  .contact .contact-logo {
    width: 10%;
    margin: 1em auto;
    padding: 1em 0;
  }

  .stats {
    flex-direction: column;
  }

  /* .what-we-do .container-next,
  .container-next-secondary,
  .container-next-primary {
    width: 100%;
  } */

  /* .container-top-body,
  .container-top-heading,
  .container-next-primary,
  .container-next-secondary {
    width: 100%;
  }

  .what-we-do .container-next {
    flex-direction: column;
  }

  */
}
